@model Vroom.Models.Make ;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>

    <h1>Edituj marku vozila</h1>
    <form method="post">

        <div>
            <label asp-for="Id">Id</label>
            <input asp-for="Id" disabled />
        </div>

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <input type="submit" asp-for-id="@Model.Id" value="Update marku" />
        <a href="/Make/Index">Back</a>

    </form>

    <script src="https://kit.fontawesome.com/c900fea168.js" crossorigin="anonymous"></script>
</body>
</html>