@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <h4 style="color:blue;padding:10px;" >Hello @UserManager.GetUserName(User)!</h4>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link"
                        style="font-size:15px;padding:10px;color:blue;">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
       
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
